* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-container {
  width: 450px;
  height: 450px;
  background-color: #111;
  display: grid;
  grid-template-columns: repeat(21, 1fr);
  grid-template-rows: repeat(21, 1fr);
  border: 5px solid #ffb63a;
}

.snake {
  background-color: aqua;
  border: 0.5px solid #111;
}

.food {
  background-color: orange;
}

.game-content {
  position: relative;
}

.score {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #ff0000;
  font-weight: bold;
  background: #ffe9c3;
  padding: 5px;
}

.wall {
  background: #fff;
}
